# Environments
.venv/
venv/
ENV/
*.wav
*.mp4
*.adicht
*.mat
*.pkl

*.edf
*.locs
*.csv
*.adicet
*.npz
*.json
*.pdf
*.jsonl
*.gz
*.csv.gz
*.zip
*.png
*.pt
*.parquet
*.docx
*.ai
._*
tmp/
catboost_info/
docs/
*.fdt
*.set
*.pth
*.pt
*.joblib
.DS_Store
.idea/
__pycache__/